<footer>
    <div class="footer-page">
        <p id="copyright">@ Coding Ninjas. All Rights Reserved</p>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/users/profile"><li>Profile</li></a>
        </ul>
    </div>
</footer>