.page-header{
    display: flex;
    width:100%;
    height:50px;
    background-color:cyan;
    font-size:20px ;
    color:white;
    justify-content: space-between;
    align-items: center;
}
.page-header li{
    list-style: none;
    display: inline-block;
    margin:0px 8px 8px 0;
}